<div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed" style="background-color: #202325  ;min-height:100%;max-height:100%" >
	<div class="sidebar-content ">
		<div class="sidebar-category sidebar-default ml-5">
			<div class="sidebar-user pt-3">
				<div class="category-content text-white">
					<strong>Rashan Samith</strong>
					<p class="pt-2">
					<img src="assets/images/empty-profile-picture-5.png" class="img-rounded" height="100px;">
				</p>
				</div>
			</div>
		</div>

		<!-- /Sidebar Category -->
		<div class="sidebar-category sidebar-default">

			<div class="category-content ">
				<ul id="fruits-nav" class="nav flex-column ">
					<!-- <li class="nav-item " style="background-color: #3B4042;border-bottom: 1px solid #34383A     ">
						<a href="#" class="nav-link pl-4 text-white">
							<i class="fa fa-pencil" aria-hidden="true "></i>
							Banana
						</a>
					</li>
					<li class="nav-item " style="background-color: #3B4042;border-bottom: 1px solid #34383A     ">
						<a href="#" class="nav-link active pl-4 text-white">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							Pear
						</a>
					</li> -->
					<li class="nav-item  " style="background-color: #3B4042;border-bottom: 1px solid #34383A">
						<a href="#other-fruits" class="nav-link text-white pl-4" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="other-fruits">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							Student Management
						</a>
						<ul id="other-fruits" class="flex-column collapse"style="background-color: #252829;border-bottom: 1px solid #252829">
                <li class="nav-item ">
                    <a  routerLink ="dashboard"  class="nav-link text-white">
                      <i class="fa fa-pencil" aria-hidden="true" ></i>
                       student
                    </a>
                  </li>
              <li class="nav-item ">
								<a  routerLink ="newItem"  class="nav-link text-white">
									<i class="fa fa-pencil" aria-hidden="true" ></i>
									Add new Item
								</a>
							</li>
              <li class="nav-item pl-0" >
								<a routerLink ="dashboard" class="nav-link text-white">
									<i class="fa fa-pencil" aria-hidden="true"></i>
									Return Item
                </a>
                <a routerLink ="dashboard" class="nav-link text-white">
									<i class="fa fa-pencil" aria-hidden="true"></i>
									Generate a report
								</a>
							</li>

						</ul>
						<!-- /Sub Nav -->
          </li>
          <li class="nav-item  " style="background-color: #3B4042;border-bottom: 1px solid #34383A">
						<a href="#subject-management" class="nav-link text-white pl-4" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="other-fruits">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							Subject Management
						</a>
						<ul id="subject-management" class="flex-column collapse"style="background-color: #252829;border-bottom: 1px solid #252829">
                <li class="nav-item ">
                    <a  routerLink ="subject"  class="nav-link text-white">
                      <i class="fa fa-pencil" aria-hidden="true" ></i>
                       subject
                    </a>
                  </li>
              <li class="nav-item ">
								<a  routerLink ="newItem"  class="nav-link text-white">
									<i class="fa fa-pencil" aria-hidden="true" ></i>
									Question
								</a>
							</li>
              <li class="nav-item pl-0" >
								<a routerLink ="dashboard" class="nav-link text-white">
									<i class="fa fa-pencil" aria-hidden="true"></i>
									Return Item
                </a>
                <a routerLink ="dashboard" class="nav-link text-white">
									<i class="fa fa-pencil" aria-hidden="true"></i>
									Generate a report
								</a>
							</li>

						</ul>
						<!-- /Sub Nav -->
					</li>
				</ul>
				<!-- /Nav -->
			</div>
			<!-- /Category Content -->
		</div>
		<!-- /Sidebar Category -->

		<!-- /Sidebar Category -->
	</div>
</div>
