

<div class="p-4">

<table class="table" id="myTable" >
  <thead>
    <tr>
      <th scope="col">Student No</th>
      <th scope="col">Studnt Name</th>
      <th scope="col">Stream</th>
      <th scope="col">Distric</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rashan Samith</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Janitha Rasanga</td>
      <td>Maths</td>
      <td>Matara</td>
      <td></td>
    </tr>


  </tbody>
</table>
</div>



